<div class="chat-widget-wrapper">
  <div class="chat-widget-container">
    <div class="chat-widget-text">
      <p class="heading">LIVE CHAT</p>
      <p style="color: white">How can we help?</p>
    </div>
    <div class="chat-widget-avatar">
      <img src="assets/images/fireworks.svg" style="width: 80px;height: 80px; padding-right: 9px; padding-bottom: 9px"  alt="" />
    </div>
  </div>
  <div class="chat-box-container">
    <div class="chat-box-nav">
      Chat with Us
    </div>
    <div class="chat-box-content">
      <div class="messages" *ngFor="let r of messages">
        <div class="clearmsg1"><p class="msg1">{{r.client}}</p></div>
        <div><p class="msg2">{{r.robot}}</p></div>
      </div>

    </div>
    <div class="message-box">
      <textarea type="text" [(ngModel)]="messageClient" class="message-input" placeholder="Ask you question..."></textarea>
      <button type="submit" (click)="onSend()" class="message-submit">Send</button>
    </div>
  </div>
</div>
