<!-- Start About -->
<section class="login">
  <div class="container">
    <!-- Start Title -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 title-section">
        <h4 class="title"><span style="font-size: 60px; margin-bottom: 60px">Login</span></h4>
        <div class="line"><i class="icon icon-24 icon-profle"></i></div>
      </div>
    </div>
    <!-- End Title -->
    <ul class="listForm listFormLogin">
      <li>
        <input class="form-control" type="text" name="name" placeholder="Email" />
        <div class="validation"></div>
      </li>
      <li>
        <input class="form-control" type="text" name="email" placeholder="Password"/>
        <div class="validation"></div>
      </li>
      <li>
        <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block" name="Submit" />
      </li>
      <li style="text-align: center; text-transform: uppercase; text-decoration: underline">
        <a [routerLink]="['/home']">Send Me to Home page</a>
      </li>
    </ul>
  </div>
</section>
<!-- End About -->
