<!-- Start Scroll to top -->
<div class="scroll top">
  <a href="#home"><span class="fa fa-chevron-up"></span></a>
</div>
<!-- End Scroll to top -->

<!-- Start Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <!-- Start Mainmenu -->
  <div class="mainmenu">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myMenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="assets/navbar-brand" href="">
         <h4 class="logo" style="margin: 15px">MINERVA</h4>
        </a>
      </div>

      <!-- Navigation Menu -->
      <div class="collapse navbar-collapse" id="myMenu">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/home">Contact Us</a></li>
          <li><a *ngIf="!userIsAuthenticated" routerLink="/hire-us">Hire us</a></li>
          <li><a *ngIf="userIsAuthenticated" routerLink="/create-event">Create event</a></li>
          <a *ngIf="!userIsAuthenticated" [routerLink]="['/login']" class="btn btn-info btn-sm login-btn">Login</a>
          <li *ngIf="!userIsAuthenticated"><a [routerLink]="['/sign-up']">Sign up</a></li>
          <li *ngIf="userIsAuthenticated"><a>{{userInfo.username}}</a></li>
          <button *ngIf="userIsAuthenticated" (click)="onLogout()" class="btn btn-info btn-sm login-btn">Logout</button>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Mainmenu -->
</nav>
<!-- End Navigation -->
<div class="clearfix"></div>
