<!-- Start inner head -->
<div class="inner-head bg-animate">
  <!-- Start Animated Background -->
  <div id="AnimatedBg" class="fixed-page"></div>
  <!-- End Animated Background -->
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>Blog</h3>
      </div>
    </div>
  </div>
</div>
<!-- End inner head -->

<div class="clearfix"></div>

<!-- Start breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-wrapp">
        <h6></h6>
        <ol class="breadcrumb">
          <li><a routerLink="/home">Home</a></li>
          <li class="active">Blog</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End breadcrumb -->

<div class="clearfix"></div>

<div class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 title-section">
        <h4 class="title"><span>The Post</span>Number 01</h4>
        <div class="line"><i class="icon icon-24 icon-mail"></i></div>
      </div>
      <div class="divider margintop40 marginbot40"></div>
      <div>
        <h4>#Post01</h4>
        <p>
          {{post.text}}
        </p>
      </div>
      <div class="divider margintop40 marginbot40"></div>
    </div>
  </div>
</div>
