<!-- Start Home -->
<section id="AnimatedBg" class="home bg-animate">
  <div class="home-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 style="font-size: 60px;">MANERVA EVENTS</h1> <br>
        <h4 style="font-size: 20px;">Your event should be perfect!</h4><br>
        <a routerLink="/hire-us" class="btn btn-success btn-lg">HIRE US</a>
      </div>
    </div>
  </div>
</section>
<!-- End Home -->

<div class="clearfix"></div>

<!-- Start Article -->
<section id="blog" class="gray">
  <div class="container">
    <!-- Start Title -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 title-section">
        <h4 class="title"><span>Last Events</span> Latest events</h4>
        <div class="line"><i class="icon icon-24 icon-compose"></i></div>
      </div>
    </div>
    <!-- End Title -->

    <!-- Start Blog -->
    <div class="row">
      <div class="masonry wrap-post" style="">
        <div *ngFor="let e of events" style="margin-bottom: 10px" class="grid-item col-md-6 col-sm-12 col-xs-12">
          <!-- Start Article 01 -->
          <div class="row post" >
            <div class="col-md-6 col-sm-6 img-post">
              <img [src]="e.imagePath" class="img-responsive" alt="">
            </div>
            <div class="col-md-6 col-sm-6 content-post">
              <h5><a href="#">{{e.name}}</a></h5>
              <ul class="meta-post">
                <li><a href="#"><span class="fa fa-calendar"></span> 06/10/2015</a></li>
                <li><a href="#"><span class="fa fa-thumb-tack"></span> App</a></li>
                <li><a href="#"><span class="fa fa-comment-o"></span> 3</a></li>
              </ul>
              <a routerLink="/home" class="btn btn-primary">Read more</a>
            </div>
          </div>
          <!-- End Article 01 -->
        </div>

      </div>
    </div>
    <!-- End Blog -->
  </div>
</section>
<!-- End Article -->


