<!-- Start Home -->
<section id="AnimatedBg" class="home bg-animate">
  <div class="home-container">
  </div>
  <div class="street"></div>
</section>
<!-- End Home -->
<div class="clearfix"></div>

<!-- Start Work It -->
<div class="dark">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- Start Feature Three -->
        <div class="row">
          <div class="title-section">
            <h1 class="title">Hello Everyone!</h1>
          </div>
        </div>
        <!-- End Feature Three -->
      </div>
    </div>
  </div>
</div>
<!-- End Work It -->

<div class="clearfix"></div>

<!-- Start Features -->
<section id="features">
  <div class="container">
    <!-- Start Title -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 title-section">
        <h4 class="title"><span>Our Features</span> The reason why choose us</h4>
        <div class="line"><i class="icon icon-24 icon-trophy"></i></div>
      </div>
    </div>
    <!-- End Title -->
    <!-- Start Features -->
    <div class="row wrap-feature-two">
      <div class="col-md-4">
        <!-- Start Feature Two Left -->
        <ul class="feature-two left">
          <li>
            <i class="icon icon-64 icon-tablet"></i>
            <h5>Responsive</h5>
            <p>
              Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.
            </p>
          </li>
          <li>
            <i class="icon icon-64 icon-clipboard"></i>
            <h5>Documentation</h5>
            <p>
              Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.
            </p>
          </li>
          <li>
            <i class="icon icon-64 icon-hourglass"></i>
            <h5>24/7 Support</h5>
            <p>
              Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.
            </p>
          </li>
        </ul>
        <!-- End Feature Two Left -->
      </div>
      <div class="col-md-4">
        <img src="assets/images/features/man.png" class="img-responsive img-feature-two" alt="">
      </div>
      <div class="col-md-4">
        <!-- Start Feature Two Right -->
        <ul class="feature-two right">
          <li>
            <i class="icon icon-64 icon-rocket"></i>
            <h5>Flat Design</h5>
            <p>
              Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.
            </p>
          </li>
          <li>
            <i class="icon icon-64 icon-gamecontroller"></i>
            <h5>Easy to use</h5>
            <p>
              Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.
            </p>
          </li>
          <li>
            <i class="icon icon-64 icon-interstate"></i>
            <h5>Plag & play</h5>
            <p>
              Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.
            </p>
          </li>
        </ul>
        <!-- End Feature Two Right -->
      </div>
    </div>
    <!-- End Features -->
  </div>
</section>
<!-- End Features -->
