<!-- Start Footer -->
<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 footer-item">
          <h4 style="color: #abb2be">MINERVA</h4><br><br>
          <!-- Start Network Social Icon -->
          <ul class="social-network">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
          <!-- End Network Social Icon -->
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    2018 &copy; Copyright <a href="#">MINERVA</a> - All right reserved
  </div>
</footer>
<!-- End Footer -->
<div class="clearfix"></div>
